.form-container {
  background-color: rgb(149, 137, 175);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  /* border: 1px solid; */
  background-color: whitesmoke;
  border-radius: 15px;
  width: 120vh;
  height: 85vh;
  padding-block: 0.25rem;
  padding-inline: 3rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.form-container .formWrapper span {
  display: flex;
}

.form-wrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/* font and position */
/* title ... */

.logo {
  font-size: 40px;
  font-weight: 100;
  font-family: "Alkatra", cursive;
  color: #ff6e6c;
}

.title {
  font-size: 30px;
  color: #1f1235;
  margin-top: 1rem;
  font-weight: 800;
  font-style: "Courier New", Courier, monospace;
}

/* inputs and orientation */

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60vh;
}
.form-wrap input {
  border-radius: 10px;
  border: 1px solid lightgrey;
  width: 15rem;
  padding: 5px;
  margin: 20px;
}

/* .form-wrap input:invalid {
  border: 2px dashed red;
} */

.form-wrap label {
  font-weight: bold;
  font-family: "Alkatra";
}
.right {
  display: flex;
  flex-direction: column;
}
.right select {
  border-radius: 10px;
  width: 5rem;
  margin: 20px 50px 20px 20px;
  padding: 0.25rem;
}
input::file-selector-button {
  visibility: hidden;
}

.input-upload {
  color: transparent;
}

.input-upload::before {
  content: "Select an image";
  display: inline-block;
  background: #ff6e6c;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  color: white;
}

.Regbtn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vh;
  height: 37px;
  border-radius: 10px;
  background-color: #ff6e6c;
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.bottom-text {
  display: flex;
  align-self: self-end;
  justify-content: center;
}

/* color check */
/* active and hover is left */
/* more aligning */

/* Same for login */
