@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap");

.home {
  background-color: #ffffff;
  height: 100%;
}
/* check background */
/* top nav height and color */
/* logo font */

.top-nav {
  border: 1px solid;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 5rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.main-logo {
  font-size: 2rem;
  padding: 4rem;
  color: #ff6e6c;
  font-family: "Alkatra", cursive;
}

.top-links {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 3rem;
}

.links {
  display: flex;
  align-items: center;
}
.links img {
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.bio-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dropdown .dropdown-btn {
  border: none;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-btn img {
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.dropdown-links {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #1b1425;
  max-width: 160px;
  padding: 0.75rem;
  z-index: 1;
}

.dropdown-links a {
  color: black;
  text-decoration: none;
  display: block;

  width: 5rem;
}

.dropdown-links a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-links {
  display: block;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* side nav color fonts */
/* avatar and details optimization */

.side-nav {
  width: 15rem;
  background-color: #67568c;
  margin: auto;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12rem;
  padding: 20px;
}
.user-img {
  width: 10rem;
  height: 10rem;
}
.avatar {
  vertical-align: top;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.user-details {
  width: 10rem;
}

.user-details h2 {
  font-size: 32px;
  color: #ffffff;
}

.user-details p {
  font-size: 24px;
  color: #ffffff;
}

/*  links font and color hover ... */

.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
.nav-links a {
  padding: 5px 5px 0 20px;
  height: 50px;
  text-decoration: none;
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border: 2 px solid#ff6e6c;
}
.nav-links :active {
  background-color: #fbdd74;
  color: black;
}

.logout-link {
  width: auto;
  display: flex;
  justify-content: center;
}

.logout-link a {
  text-decoration: none;
  font-size: 20px;
  color: #1b1425;
}

.main {
  border: 1px solid red;
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* Minor fixes */
/* color correcting */
/* font checkup */
