.form-container {
  background-color: #67568c;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-Wrapper {
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 70vh;
  height: 50vh;
  padding: 20px;
}

.logo {
  font-size: 40px;
  font-weight: 100;
  font-style: Javanese;
  color: #1f1235;
}

.login-btn {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vh;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background-color: #ff6e6c;
  color: #1f1235;
  font-size: 20px;
  cursor: pointer;
}
